body{
    font-family: 'Architects Daughter', cursive;

}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
    font-style: italic;
    font-weight: 200px;   
}
.half-width{
    width: 40%; /*removed float: left; for top banner background first, later added again*/
    float: left;
    padding: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-bg{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}