body{
    margin: 0;
    font-family: 'Architects Daughter', cursive;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: purple;
}
.orange-highlight{
    color: rgb(255, 115, 0);
    font-style: italic;
    font-weight: 200px;   
}
.prpl-highlight{
    color: rgb(162, 0, 255);
}
.half-width{
    width: 40%;   /*removed float: left; for top banner background first, later added again*/
    float: left;
    padding: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-bg{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none; /*text decrtn none for removing default undrline from anchor a tag*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.918), rgb(250, 104, 6));
    padding: 10px 40px;
    border-radius: 50px;
    color: rgb(151, 0, 252);   
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exprnc{
    background-image: url("images/exprnc-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}